.col-md-8
  = simple_form_for @plugin do |f|
    - if @plugin.errors.any?
      #error_explanation
        %h2= "#{pluralize(@plugin.errors.count, "error")} prohibited this plugin from being saved:"
        %ul
          - @plugin.errors.full_messages.each do |msg|
            %li= msg
    = f.input :name
    = f.input :description
    = f.input :url

    .panel.panel-default
      .panel-body
        = f.submit 'Save', class: 'btn btn-success'
        - back_path = @plugin || plugins_path
        = link_to 'Cancel', back_path, class: 'btn btn-default'
