%p#notice= notice

%h1= @plugin.name
%p= @plugin.description
%p= link_to @plugin.url, @plugin.url

- if can? :manage, @plugin
  = link_to 'Delete', plugin_path(@plugin), method: :delete
  \|
  = link_to 'Edit', edit_plugin_path(@plugin)
  \|
= link_to 'Back', plugins_path, class: 'btn btn-primary'
